span { 
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 13ch;

    animation: typing 2s steps(13), blink .5s infinite step-end alternate;
    overflow: hidden;
    color: white;
    
    font-size: 50px;

    
    
}

@keyframes typing { 
    from { 
        width: 0;
    }
}

@keyframes blink { 
    50% { 
        border-color: transparent;
    }
}

#title { 
    display: flex;
    justify-content: center;
}
p { 
    color: whitesmoke;
    font-size: large;
}


body { 
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); 
}



/*responsive desing */
@media screen and (min-width: 601px) {
    span {
      font-size: 40px;
    }
}

@media screen and (min-width: 601px) {
    span {
      font-size: 40px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    span {
      font-size: 30px;
    }
}

i {
    color: white;
    font-size: 5ch;
} 
li { 
    color: whitesmoke;
}

a {
    color: white;
}